{{ 'marquee-collections.css' | asset_url | stylesheet_tag }}

<div class="custome-marquee">
    <div>
      <span>WOMEN'S CLOTHING COLLECTION</span>
      <span><button>EXPLORE</button></span>
      <span>NEW COLLECTION</span>
      <span><button>GRAB THIS OFFER</button></span>
      <span>MENS CLOTHING COLLECTION</span>
      <span><button>EXPLORE</button></span>
        
    </div>
  </div>    

  {% schema %}
  {
    "name": "Marquee collection ection",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Marquee Collections"
      }
    ],
    "blocks": [
      {
        "type": "custom-block",
        "name": "custom-block",
        "settings": [

          {
            "type": "image_picker",
            "id": "image_collection",
            "label": "collection image"
          },
          {
            "type": "text",
            "id": "pre_heading",
            "label": "Pre Heading",
            "default": "Business Formal Choices"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Explore"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button url"
          }
          
        ]
      }
    ],
    "presets": [
      {
        "name": "Marquee collection Section"
      }
    ]
  }
  {% endschema %}