@import url(https://db.onlinewebfonts.com/c/05d9d01becf3f54147f00db19127aa76?family=One+Night+Sans+Black);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.history-section--title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.history-section--title{
    font-family: "One Night Sans";
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    width: 180px;
    height: auto;
    border-radius: 15px;
    background-color: #005BAA;
    color: #fff;
    padding: 20px;
    
}
.img-outer-container{
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
    
  }
  .img-container{

    border-radius: 16px;
    border: 1px solid #0B57FF;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 80%;

}
.cont{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin-left: 10%;
}
.event-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 20%; */
}
.year{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event-img{
    width: 300px;
    height: 250px;
    /* border: 1px solid black; */
}
.year-img{
    width: 150px;
    height: 150px;
}
.dashed-line{
    margin-bottom: 100px;
}
/* Apply styles for blocks 1, 3, 5, 7 */
.cont:nth-child(4n+1) {
    justify-content: flex-start;
} 

/* Apply styles for blocks 2, 4, 6 */
.cont:nth-child(4n+2)  {
    justify-content: flex-end;
    margin-left: 42%

} 
.cont:nth-child(4){
    justify-content: flex-end;
    margin-left: 42%;
    /* border: 1px solid black; */
}

.cont:nth-child(4n+2) .event-container {
    justify-content: flex-end;
    flex-direction: row-reverse; /* Reverse the order of items */
}
.cont:nth-child(4) .event-container{
    justify-content: flex-end;
    flex-direction: row-reverse;

}
.cont:last-of-type .vertical-img {
    visibility: hidden;
}
.heart-logo{
    width: 60px;
    height: 20px;
    position: absolute;
    top: 0.5%;
    left: 49%;
    z-index: 4;
}
.heart-2-logo{
    width: 60px;
    height: 20px;
    position: absolute;
    bottom: 0.5%;
    left: 49%;
    z-index: 2;
    background-color: #FFFFFF;
}


/* Media queries for mobile devices */
@media screen and (max-width: 768px) {
    .img-container {
        width: 98%; /* Adjust as needed */
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0.5rem;

    }

    

    .event-img {
        width: 150px;
        height: 100px;
    }

    .year-img {
        width: 70px;
        height: 70px;
    }
    .dashed-line{
        margin-bottom: 20px;
    }
    .event-container{
        margin-bottom: 2px;
    }
    .cont{
        width: 100%;
        display: flex;
        justify-content: center;
  
        box-sizing: border-box;
        margin-left: 0%;
    }
    .cont:nth-child(4n+1) {
        justify-content: center;
    } 
    .cont:nth-child(4n+2)  {
        justify-content: center;
        /* flex-direction: row; */
        margin-left: 0%;
    
    } 
    .cont:nth-child(4){
        justify-content: center;
        margin-left: 0%;
        /* border: 1px solid black; */
    }
    .cont:nth-child(4n+2) .event-container {
        justify-content: flex-start;
        flex-direction: row; /* Reverse the order of items */
    }
    .cont:nth-child(4) .event-container{
        justify-content: flex-start;
        flex-direction: row;
    
    }
    .vertical-img{
        height: 30px;
        width: 2px;
    }


    .heart-logo{
        top: 1.25%;
        left: 46%;
    }
    .heart-2-logo {
        bottom: 1.2%;
        left: 46%;
    }
}
/*
@media screen and (min-width: 1024px) {
    .img-container {
        width: 92%;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .cont {
        width: 80%;
        margin-left: 0%;
    }

    .event-img {
        width: 250px;
        height: 200px;
    }

    .year-img {
        width: 150px;
        height: 150px;
    }

    .dashed-line {
        margin-bottom: 120px;
    }
    .cont:nth-child(4n+2)  {
        justify-content: flex-start;
        margin-left: 41%;
    
    } 
    .cont:nth-child(4){
        justify-content: flex-start;
        margin-left: 41%;

    }
    .cont:nth-child(4n+2) .event-container {
        justify-content: flex-start;
        flex-direction: row-reverse; 
   }
    .cont:nth-child(4) .event-container{
        justify-content: flex-start;
        flex-direction: row-reverse;
    
    }
} 

 @media screen and (min-width: 1200px) {
    .img-container {
        width: 92%;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .cont {
        width: 80%;
        margin-left: 0%;
    }

    .event-img {
        width: 350px;
        height: 280px;
    }

    .year-img {
        width: 200px;
        height: 200px;
    }

    .dashed-line {
        margin-bottom: 120px;
    }
    .cont:nth-child(4n+2)  {
        justify-content: flex-start;
        margin-left: 41.5%;
    
    } 
    .cont:nth-child(4){
        justify-content: flex-start;
        margin-left: 41.5%;

    }
    .cont:nth-child(4n+2) .event-container {
        justify-content: flex-start;
        flex-direction: row-reverse;
   }
    .cont:nth-child(4) .event-container{
        justify-content: flex-start;
        flex-direction: row-reverse;
    
    }
}  */