@import url(https://db.onlinewebfonts.com/c/05d9d01becf3f54147f00db19127aa76?family=One+Night+Sans+Black);
.history-section--title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-section--title{
    font-family: "One Night Sans";
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    width: 180px;
    height: auto;
    border-radius: 15px;
    background-color: #005BAA;
    color: #fff;
    padding: 20px;
    
}
/* .history-section--desktop{
    width: 100px;
    height: 200px;
}
.history-section--line{
    width: 100px;
    height: 10px;
}
.history-section--year{
    width: 200px;
    height: 200px;
} */
.history-section--image-display-container{
 
    border: 1px solid #005BAA;
    width: 93%;
    margin: auto;
    padding: 12rem;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.history-section--image-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.history-section--image-container:nth-child(odd) {
    justify-content: flex-start;
    margin-left: 120px;
}

.history-section--image-container:nth-child(even) {
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin: auto;
    
}
/* .history-section--image-display-container .history-section--image-container:nth-child(2n) {
    flex-direction: row-reverse;
} */
.history-section--block .history-section--image-text-container .history-section--text{
    font-size: 12px;
    color: #696969;
    text-align: center;
    width: 120px;
}